*{
  box-sizing: border-box;
}


body{
  background-color: #111;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  
}

.lists{
  margin-top: -10%;
}

footer{
  width: 100%;
  margin: 55px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div{
  text-align: left;
  margin-top: 3px;
}


footer a{
  color:#46d369;
  text-decoration: none;
}
.loading{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

} 
.loading img{
  max-width: 500px;
}